<nav>
    <div class="site-title">
        
        <a href="/"><h1>Blog Homepage</h1></a>
        <p>An Express JS Blog Page</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>  
       <li><a href="/about">About page</a>></li> 
       <li><a href="/blogs/create">New blog</a>></li> 
    </ul>
  </nav>